@import 'tailwindcss';

@font-face {
  font-family: 'noto-sans-jp';
  src: local('Noto Sans JP'), local('Noto Sans CJK JP');
  font-display: swap;
}

@font-face {
  font-family: 'noto-sans-jp-for-title';
  src: local('Noto Sans JP');
  font-display: swap;
}

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'noto-sans-jp',
    'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif,
    'Segoe UI', 'Yu Gothic UI';

  --font-title:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'noto-sans-jp-for-title',
    'Noto Sans JP', 'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', sans-serif, 'Segoe UI', 'Yu Gothic UI';

  --color-body: light-dark(var(--color-slate-100), var(--color-slate-900));
  --color-main: Canvas;
  --color-txt: CanvasText;
  --color-txt-inv: Canvas;
  --color-accent: light-dark(var(--color-sky-800), var(--color-sky-300));
  --color-border: light-dark(hsl(0 0 0 / 15%), hsl(0 0 100 / 15%));
  --color-border-dark: light-dark(hsl(0 0 0 / 40%), hsl(0 0 100 / 30%));
  --color-caution: light-dark(var(--color-red-600), var(--color-yellow-400));
  --color-link: light-dark(var(--color-blue-700), #40ff40);

  --spacing-paragraph: 0.75rem;
  --spacing-heading: 3rem;
  --spacing-figure: 2rem;
  --spacing-header: 10rem;
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility link-disabled {
  @apply pointer-events-none text-neutral-600 any-hover:no-underline;
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );

  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value([*]), 100%), 1fr)
  );
}

@utility grid-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );

  grid-template-columns: repeat(auto-fit, minmax(min(--value([*]), 100%), 1fr));
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@layer base {
  :root {
    @apply font-sans max-sm:text-sm hyphens-auto wrap-anywhere scheme-light-dark;
    font-optical-sizing: auto;
    line-break: strict;
    -webkit-tap-highlight-color: revert;
    text-spacing-trim: trim-start;
    text-autospace: normal;
    scrollbar-gutter: stable;
  }

  [lang] {
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    @media (width > 40rem) {
      [lang^='ja'] {
        word-break: auto-phrase;
        text-align: justify;
      }
    }
  }

  body {
    @apply max-lg:flow-root lg:grid bg-body text-txt;
    --side-min: 16rem;
    --main-max: 88rem;
    grid-template-areas:
      'h h'
      'l m'
      'f f';

    grid-template-columns:
      minmax(min(var(--side-min), 100%), 1fr)
      minmax(0, var(--main-max));

    grid-template-rows: auto 1fr auto;
  }

  header {
    grid-area: h;
    @apply grid place-content-center block-header;
  }

  .lside {
    grid-area: l;
    @apply max-lg:hidden lg:flow-root;
  }

  main {
    @apply flow-root min-block-lvh bg-main px-3 pbe-36;
    grid-area: m;
  }

  input:is([type='text'], [type='url'], [type='number']),
  textarea {
    @apply font-mono rounded border-border px-1;
  }

  :not(li) > :where(p, pre, ul, ol) {
    @apply mbs-paragraph;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mbs-heading text-accent;
  }

  h2,
  h3,
  h4 {
    @apply font-normal;
  }

  #title {
    @apply text-4xl xl:text-5xl font-extralight text-balance text-center font-title;
  }

  h2 {
    @apply text-3xl ps-1 pbe-1 border-be border-border;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-base font-semibold;
  }

  a {
    @apply text-link any-hover:underline;
  }

  img,
  .table-container {
    @apply my-figure;
  }

  img {
    @apply mx-auto inline-max max-inline-full;
  }

  :not(li) > :where(ul, ol) {
    @apply ms-7;
  }

  li > :where(ul, ol) {
    @apply ms-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  table {
    @apply whitespace-nowrap inline-max max-inline-full me-auto;

    :where(td, th) {
      @apply px-2 py-1;
    }

    :where(thead tr:last-child) {
      @apply border-be-3 border-double border-border-dark;
    }

    :where(tbody tr:not(:last-child)) {
      @apply border-be border-border;
    }

    :where(th) {
      @apply text-center;
    }
  }

  .table-container:has(> table) {
    @apply overflow-x-auto my-figure;
    scrollbar-width: thin;
  }

  b,
  strong,
  th {
    @apply font-semibold;
  }
}
