---
import '../styles/global.css';
import type { MarkdownLayoutProps } from 'astro';
import Head from '../components/Head.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  desc: string;
}>;

const { desc, title } = Astro.props.frontmatter;
const path = Astro.originPathname;
---

<html lang='ja'>
  <Head {title} {path} description={desc} />
  <body>
    <header>
      <h1 id='title'>
        {title}
      </h1>
    </header>
    <aside class="lside"></aside>
    <main>
      <slot />
    </main>
    <aside class="rside"></aside>
  </body>
</html>
